@import "src/GlobalStyle/Variables.scss";

.section-about {
  background-color: $bg-primary-blur;
  color: $color-text-primary;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-text {
  .title-small {
    color: $color-primary;
    font-weight: 500;
    font-style: italic;
    font-size: $font-md;
  }

  .title {
    h1 {
      margin-top: 12px;
      margin-bottom: 0px;
      font-size: $font-max;
      font-weight: 700;
    }
  }

  .content {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: $font-md;
    font-weight: 400;
    text-align: justify;
  }
}

.link {
  color: $color-primary;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: $font-lg;
  font-weight: 400;
  overflow: hidden;

  .link-text span {
    position: relative;
    display: inline-block;
    transition: transform ease 0.7s;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: calc(100% + 12px);
      transform: translateY(-50%);
      width: 30px;
      height: 1px;
      background-color: $color-primary;
    }

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      right: calc(100% + 12px);
      transform: translateY(-50%);
      width: 60px;
      height: 1px;
      background-color: $color-primary;
    }

    &:hover {
      transform: translateX(55px);
    }
  }
}

.about-img {
  overflow: hidden;
  img {
    transition: transform ease 0.5s;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .about-text {
    .title-small {
      font-size: $font-lg;
    }

    .title {
      h1 {
        font-size: $font-pro-max;
      }
    }
  }
}
