@import "src/GlobalStyle/Variables.scss";

.footer {
  border-top: 1px solid $color-text-primary;
}

.footer__mid {
  background-color: $bg-primary-blur;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $color-text-primary;
}

.footer__end {
  background-color: $bg-primary;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $color-text-primary;
  font-size: $font-sm;
  text-align: center;
}
