@import "src/GlobalStyle/Variables.scss";

.header__navbar__item {
  padding-left: 16px;
}

.bag-number {
  background-color: $color-primary;
  display: grid;
  place-content: center;
  color: $color-text-primary;
  font-size: $font-min;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -3px;
  left: 28px;
}

.icon {
  position: relative;
  color: $color-text-primary;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.icon-bag::after {
  @extend %pseudo-element;
}

//form-bag

.form-bag__body {
  max-height: 500px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 10px;
  }
  ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    & + li {
      border-top: 1px solid #e8e8e8;
    }
    &:hover {
      background-color: #f7f7f7;
    }
  }
}

.bag__item {
  width: 100%;
  .bag__item__img {
    width: 74px;
    margin-right: 12px;
  }

  .inf__name {
    h3 {
      font-size: $font-sm;
      font-weight: 600;
      max-width: 180px;
      @extend %limited-line-1;
    }
  }

  .quantity__title {
    font-size: $font-min;
    padding-bottom: 4px;
  }

  .icon {
    width: 25px;
    height: 25px;
    border-radius: $br-rad-md;
    background-color: $color-primary;
    color: $color-text-primary;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .quantity-number {
    margin-left: 6px;
    margin-right: 6px;
    font-size: $font-md;
    font-weight: 600;
    width: 40px;
    height: 25px;
    border-radius: $br-rad-md;
    border: 0.5px solid $color-emphasize;
  }

  .bag__item__foot {
    text-align: end;
  }

  .foot-price {
    color: $color-primary;
    font-weight: 600;
  }

  .foot-delete {
    font-size: $font-min;
    &:hover {
      color: $color-emphasize;
    }
  }
  &:hover {
    color: inherit;
  }
}

//bagFoot
.form-bag__foot {
  padding-top: 28px;
  border-top: 1px solid #e8e8e8;
}

.foot__total {
  padding-bottom: 16px;
}

.total__price {
  color: $color-primary;
  font-weight: 600;
}

.btn-pay {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 10px 0;
}

@media (min-width: $breakpoint-lg) {
  .hidden-on-PC {
    div[data-tippy-root] {
      display: none;
    }
  }
}
