@import "src/GlobalStyle/Variables.scss";

.header__navbar__item {
  padding-left: 16px;
}

.bag-number {
  background-color: $color-primary;
  display: grid;
  place-content: center;
  color: $color-text-primary;
  font-size: $font-min;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -3px;
  left: 28px;
}

.icon {
  position: relative;
  color: $color-text-primary;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.icon-bag::after {
  @extend %pseudo-element;
}

//bagFoot
.form-bag__foot {
  padding-top: 28px;
  border-top: 1px solid #e8e8e8;
}

.foot__total {
  padding-bottom: 16px;
}

.total__price {
  color: $color-primary;
  font-weight: 600;
}

.btn-pay {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 10px 0;
}

@media (min-width: $breakpoint-lg) {
  .hidden-on-PC {
    div[data-tippy-root] {
      display: none;
    }
  }
}
