@import "src/GlobalStyle/Variables.scss";

.offcanvas {
  max-width: 250px;
  background-color: $bg-primary-blur;
  //   overflow: auto;
}

.icon-filter {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 50px;
  color: $color-text-primary;
  background-color: $color-primary;
  box-shadow: 1px 3px 6px #888888;
  border-top-left-radius: $br-rad-md;
  border-bottom-left-radius: $br-rad-md;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.navbar-offcanvas {
  .icon-filter-wrapper {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 50px;
    color: $color-text-primary;
    background-color: $color-primary;
    box-shadow: 1px 3px 6px #888888;
    border-top-left-radius: $br-rad-md;
    border-bottom-left-radius: $br-rad-md;
    display: grid;
    place-content: center;
    cursor: pointer;
  }
}
.navbar-fixed {
  width: 250px;
  overflow-y: auto;
}

/* Define the scrollbar track */
.navbar-fixed::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.navbar-fixed::-webkit-scrollbar-track {
  border-radius: 20px;
}

/* Handle */
.navbar-fixed::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 10px;
}

@media (min-width: $breakpoint-lg) {
  .navbar-offcanvas {
    display: none;
  }
}
