@import "src/GlobalStyle/Variables.scss";

.head {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.head__title {
  color: $color-primary;
  border-bottom: 1px solid $color-primary;
  padding-bottom: 12px;
  margin-bottom: 12px;
  h1 {
    text-transform: uppercase;
    font-size: $font-lg;
    font-weight: 700;
  }
}

@media (min-width: $breakpoint-md) {
  .head {
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 12px;
  }

  .head__title {
    border-color: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
    h1 {
      font-size: $font-xl;
    }
  }
}
