.icon-cart {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    transform: scale(3);
    border-radius: 50%;
  }
}
