@import "src/GlobalStyle/Variables.scss";

.swiper {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.swiper-slide {
  box-sizing: border-box;
  padding-bottom: 60px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid $color-primary-bold;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $color-primary;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
