@import "src/GlobalStyle/Variables.scss";

.shopping-cart {
  background-color: $bg-primary-blur;
  color: $color-text-primary;
  .cart-list-product,
  .cart-pay,
  .cart-total {
    background-color: $bg-primary-blur;
    border: 1px solid $color-primary;
    .header {
      border-bottom: 1px solid $color-primary;
    }
  }

  .product__item {
    border-bottom: 1px solid $color-primary;
  }

  .line-space {
    border: 1px solid $color-primary;
  }

  .cart-total__content {
    background-color: $bg-primary-blur;
    color: $color-text-primary;
  }

  .ship-expense {
    border: none;
    color: $color-emphasize;
  }

  .total {
    color: $color-primary;
    font-size: $font-lg;
    font-weight: 600;
  }

  .btn {
    width: 100%;
    height: 40px;
    font-size: $font-lg;
    font-weight: 500;
  }

  .product-name {
    font-size: $font-xl;
    font-weight: 600;
    padding-bottom: 16px;
  }

  .price-product {
    color: $color-primary;
    font-size: $font-md;
    font-weight: 500;
  }
}

.quanlity {
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  & > div {
    width: 100%;
  }
  .quanlity-main {
    width: 400px;
  }
}

.bag-empty {
  color: $color-text-desible;
  min-height: 400px;
  display: grid;
  place-content: center;
}
