@import "src/GlobalStyle/Variables.scss";

.Logo {
  width: 100%;
  background-color: $bg-primary-blur;
  padding: 10px 0;
}

.image-logo {
  width: 120px;
}

@media (min-width: $breakpoint-lg) {
  .Logo {
    display: none;
  }
}
