@import "src/GlobalStyle/Variables.scss";

.offcanvas {
  max-width: 250px;
  height: 100%;
  background-color: $bg-primary-blur;
  color: $color-text-primary;
  font-size: $font-sm;
  h2 {
    font-size: inherit;
    line-height: 35px;
    margin-bottom: 0;
  }
}

.ofcanvas__header {
  padding: 20px 0;
  border-bottom: 1px solid $color-text-primary;
}

.ofcanvas-logo {
  width: 172px;
}

.ofcanvas__body,
.ofcanvas__footer {
  ul {
    padding: 0;
    margin: 0;
    li {
      padding-right: 12px;
      padding-left: 12px;
    }
  }
  a {
    display: block;
    .ofcanvas__body__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item__icon {
        display: none;
      }
      &:hover {
        .item__icon {
          display: flex;
        }
      }
    }
  }
}

.ofcanvas__footer {
  h2 {
    color: $color-primary;
    font-weight: 700;
  }
}

//navlink
.active {
  color: $color-primary;
  transition: color ease 0.3s;
}

@media (min-width: $breakpoint-lg) {
  .navbar-wrapper-offcanvas {
    display: none;
  }
}
