@import "src/GlobalStyle/Variables.scss";

.user-inf {
  background-color: $bg-primary-blur;
  color: $color-text-primary;
}

.main-inf {
  padding-top: 60px;
  padding-bottom: 60px;
}

.inf-email {
  padding-bottom: 12px;
}

.user__btn {
  margin-top: 14px;
  max-width: 100%;
  .btn {
    height: 45px;
    width: 100%;
  }
}
