@import "src/GlobalStyle/Variables.scss";

.product-same {
  padding-top: 60px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}

.slide {
  padding-bottom: 40px;
}
