@import "src/GlobalStyle/Variables.scss";

.btn {
  height: 45px;
  width: 100%;
  font-size: $font-md;
  font-weight: 500;
}

.log-out {
  cursor: pointer;
  h2 {
    font-size: $font-sm;
    font-weight: 700;
    color: $color-primary;
  }
}
