@import "src/GlobalStyle/Variables.scss";

.blog {
  background-color: $bg-primary-blur;
  padding-bottom: 60px;
  padding-top: 60px;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

//blogItem
.blog__item {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  background-color: $color-text-dark;
  color: $color-text-primary;
  font-size: $font-md;
  border-radius: $br-rad-xl;
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.15);
    }
  }
  .item__img {
    position: relative;
    display: flex;
    overflow: hidden;
    transform: scale(1);
    img {
      transition: transform ease 0.4s;
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }

  .item__content {
    padding: 14px 14px 0 14px;
    border-bottom: 1px solid $color-text-primary;
  }

  .author {
    margin-bottom: 14px;
    font-size: $font-min;
  }

  .title {
    margin-bottom: 12px;
    h2 {
      margin-bottom: 0;
      font-size: $font-md;
      font-weight: 700;
      line-height: 30px;
      @extend %limited-line-2;
      transition: color ease 0.2s;
      &:hover {
        color: $color-primary;
      }
    }
  }

  .desc {
    margin-bottom: 16px;
    p {
      font-size: $font-min;
      margin-bottom: 0;
      @extend %limited-line-2;
    }
  }

  .item__link {
    padding-left: 30px;
  }

  .item-absolute {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 32px;
    background-color: $color-primary;
    border-radius: $br-rad-xl;
    display: grid;
    place-content: center;
    span {
      color: $color-text-primary;
      font-size: $font-sm;
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .blog__item {
    .item__content {
      padding: 30px 30px 0 30px;
      border-bottom: 1px solid $color-text-primary;
    }

    .author {
      margin-bottom: 20px;
      font-size: $font-md;
    }

    .title {
      margin-bottom: 20px;
      h2 {
        font-size: $font-xxl;
      }
    }

    .desc {
      p {
        font-size: $font-md;
      }
    }
  }
}
