@import "src/GlobalStyle/Variables.scss";

.ofcanvas {
  max-width: 250px;
  height: 100%;
  background-color: $bg-primary-blur;
  color: $color-text-primary;
}

.ofcanvas__header {
  padding: 10px 0;
  border-bottom: 1px solid $color-text-primary;
}

.ofcanvas-logo {
  width: 173px;
}

.ofcanvas__body {
}

.ofcanvas__body__item {
}

.ofcanvas__footer {
}

.ofcanvas__footer__item {
}
