@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600&family=Passion+One:wght@700;900&family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

@import "./Variables.scss";

@import "./MyClasses.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: $font-md;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
span {
  display: inline-block;
}

ul li,
ol li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a:hover {
  color: $color-primary;
}
