.stylized {
  font-family: $font-stylized;
}

.stylized.title-big {
  font-size: $font-max;
  font-weight: 700;
  color: $color-text-primary;
  margin: 0;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.justify-around {
  justify-content: space-around;
}

.flex.align-center {
  align-items: center;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-42 {
  margin-top: 42px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-120 {
  margin-top: 120px;
}

.items-center {
  display: grid;
  place-items: center;
}

.margin-center {
  margin-right: auto;
  margin-left: auto;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-absolute.y-center {
  top: 50%;
  transform: translateY(-50%);
}

.pos-absolute.x-center {
  left: 50%;
  transform: translateX(-50%);
}

.pos-absolute.x-center.y-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.btn-hover:hover {
  background-color: $color-button-hover;
}

@media (min-width: $breakpoint-sm) {
  .stylized-after {
    position: relative;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    &::after {
      content: "";
      position: absolute;
      background-image: url(https://bizweb.dktcdn.net/100/469/097/themes/882205/assets/dish.png);
      width: 45px;
      height: 43px;
      top: 50%;
      left: 100%;
      transform: translateY(-50%) rotateY(-180deg);
      background-size: cover;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url(https://bizweb.dktcdn.net/100/469/097/themes/882205/assets/dish.png);
      width: 45px;
      height: 43px;
      top: 50%;
      right: 100%;
      transform: translateY(-50%) rotateY(-180deg);
      background-size: cover;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .stylized.title-big {
    font-size: $font-pro-max;
  }

  .pc-none {
    display: none;
  }
}
