$font-pro-max: 5rem;
$font-max: 3rem;
$font-xxl: 2.6rem;
$font-xl: 2.2rem;
$font-lg: 1.8rem;
$font-md: 1.6rem;
$font-sm: 1.4rem;
$font-min: 1.2rem;

$font-family: "Quicksand", sans-serif;
$font-stylized: "Dancing Script", cursive;

$color-primary: #d69c52;
$color-primary-bold: #a37b44;
$bg-primary: #10302c;
$bg-primary-blur: #143b36;
$color-text-primary: #fff;
$color-text-dark: #000000;
$color-dark: #071513;
$color-emphasize: #d83a3a;
$color-button-hover: #b1762a;

$br-rad-xl: 0.8rem;
$br-rad-md: 0.5rem;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

%limited-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

%limited-line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

%pseudo-element {
  position: absolute;
  content: "";
  top: 100%;
  left: -5px;
  right: 0;
  height: 60px;
  background-color: transparent;
}
