@import "src/GlobalStyle/Variables.scss";

.logo {
  display: block;
  width: 172px;
}

.description {
  margin-top: 10px;
  color: $color-text-primary;
  font-size: $font-sm;
  text-align: justify;
}

@media (min-width: $breakpoint-md) {
  .description {
    padding-right: 24px;
  }
}
