@import "src/GlobalStyle/Variables.scss";

.product-detail {
  .main {
    color: $color-text-primary;
    padding-bottom: 60px;
    .main__left {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 32px;
      img {
        border-radius: $br-rad-xl;
      }
    }
  }

  .image {
    max-width: 250px;
  }

  .title {
    h2 {
      font-size: $font-max;
      font-weight: 700;
      @extend %limited-line-1;
    }

    .product-name {
      @extend %limited-line-1;
    }
  }

  .price {
    padding-bottom: 8px;
  }

  .price-online {
    font-size: $font-xl;
    font-weight: 600;
    color: $color-emphasize;
    padding-bottom: 6px;
  }

  .price-save {
    color: $color-emphasize;
    font-size: $font-md;
    font-weight: 500;
  }

  .num__title {
    padding-bottom: 12px;
  }

  .btn {
    width: 100%;
    height: 40px;
    margin-top: 18px;
  }
}

@media (min-width: $breakpoint-md) {
  .product-detail {
    .main {
      div.main__left {
        display: block;
      }
    }
    .image {
      max-width: unset;
    }
  }
}
