@import "src/GlobalStyle/Variables.scss";

.main {
  background-color: $bg-primary-blur;
}
.navbar {
  display: none;
}

.content {
  padding-top: 40px;
}

.navbar.navbar-right {
  order: 1;
}

@media (min-width: 998px) {
  .navbar {
    display: block;
  }

  .main-fixed {
    display: none;
  }
}
