@import "src/GlobalStyle/Variables.scss";

.navbarHasDrop {
  position: relative;
  cursor: pointer;
  padding-right: 16px;
  padding-left: 16px;
  &::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 35px;
    background-color: transparent;
  }
}

.navbarHasDrop,
.dropdown-1 {
  &.hovering {
    color: $color-primary;
  }
  h3 {
    padding-right: 4px;
  }
}
