@import "src/GlobalStyle/Variables.scss";

.header {
  background-color: $bg-primary-blur;
}

.wrapper {
  overflow: hidden;
  transition: height ease 0.2s;
  height: 103px;
  background-color: $bg-primary;
  position: relative;
}

.wrapper.fixHeight {
  height: 43px;
}

.header__navbar-text {
  display: flex;
  align-items: center;
}

.header__navbar-icon {
  color: $color-text-primary;
}

.menu {
  padding-left: 0;
}

.header__navbar__item {
  padding-left: 16px;
  h3 {
    margin-bottom: 0;
  }
}

.icon {
  color: $color-text-primary;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.header__navbar__item.menu-list-pc,
.header__navbar__item.logo {
  display: none;
}

//phần search
.item__search {
  div[data-tippy-root] {
    width: 420px;
    & > div[data-state] {
      max-width: 100% !important;
    }
  }
}

//phan bag
.item__bag {
  div[data-tippy-root] {
    width: 340px;
    & > div {
      padding-bottom: 10px;
    }
  }
}

//phần user
.item__user {
  div[data-tippy-root] {
    width: 245px;
  }
}

//phần dropdown
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

//thẻ navlink
.active {
  color: $color-primary;
  transition: color ease 0.3s;
}

@media (min-width: $breakpoint-lg) {
  .visible-PC {
    overflow: visible !important;
  }

  .header .wrapper {
    background-color: transparent;
    display: flex;
    height: 83px;
  }

  .header.opacityPC {
    background-color: #143b368f;
  }

  .header.relative-z2-PC {
    position: relative;
    z-index: 2;
  }

  .navbar-wrapper-text-PC {
    display: block;
  }

  .navbar-wrapper-menu {
    display: none;
  }

  .header__navbar {
    flex: 1;
  }

  .header__navbar__item.logo {
    width: 130px;
    padding-left: 0;
  }

  .header__navbar-text {
    display: flex;
    align-items: center;
  }

  .header__navbar__item.menu-list-pc,
  .header__navbar__item.logo {
    display: flex;
  }

  .header__navbar__item.menu-list-pc {
    color: $color-text-primary;
    font-size: $font-sm;
    h3 {
      font-size: inherit;
      font-weight: 600;
    }

    a {
      display: inline-block;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .header__input-search {
    display: none;
  }

  .header__navbar__item.menu-list-pc {
    position: relative;
  }
}

@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
  .wrapper-navbarPC {
    width: 465px;
    overflow-x: clip;
    line-height: 100%;
    ul {
      width: 900px;
      transition: margin ease 0.4s;
    }
  }
}

@media (min-width: $breakpoint-xl) and (max-width: 1400px) {
  .wrapper-navbarPC {
    width: 580px;
    overflow-x: clip;
    line-height: 100%;
    ul {
      width: 900px;
      transition: margin ease 0.4s;
    }
  }
}
