@import "src/GlobalStyle/Variables.scss";

.header {
  background-color: $bg-primary-blur;
}

.wrapper {
  overflow: hidden;
  transition: height ease 0.2s;
  height: 103px;
  background-color: $bg-primary;
}

.wrapper.fixHeight {
  height: 43px;
}

.header__navbar-icon {
  color: $color-text-primary;
}

.menu {
  padding-left: 0;
}

.header__navbar__item {
  padding-left: 16px;
}

.icon {
  color: $color-text-primary;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.header__navbar__item.menu-list-pc,
.header__navbar__item.logo {
  display: none;
}

//offcanvas
.ofcanvas {
  max-width: 250px;
}

//phần search
.item__search {
  div[data-tippy-root] {
    width: 420px;
    & > div[data-state] {
      max-width: 100% !important;
    }
  }
}

//phan bag
.item__bag {
  div[data-tippy-root] {
    width: 340px;
    & > div {
      padding-bottom: 10px;
    }
  }
}

//phần user
.item__user {
  div[data-tippy-root] {
    width: 245px;
  }
}

@media (min-width: $breakpoint-lg) {
  .header .wrapper {
    background-color: transparent;
    display: flex;
    height: 83px;
  }

  .navbar-wrapper-text-PC {
    display: block;
  }

  .navbar-wrapper-menu {
    display: none;
  }

  .header__navbar {
    flex: 1;
  }

  .header__navbar__item.logo {
    width: 130px;
    padding-left: 0;
  }

  .header__navbar-text {
    display: flex;
    align-items: center;
  }

  .header__navbar__item.menu-list-pc,
  .header__navbar__item.logo {
    display: flex;
  }

  .header__navbar__item.menu-list-pc {
    color: $color-text-primary;
    font-size: $font-sm;
    h3 {
      font-size: inherit;
      font-weight: 600;
    }

    a {
      display: inline-block;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .header__input-search {
    display: none;
  }

  .navbar__item__arrow {
    top: 0;
    left: calc(100% + 14px);
    .arrow {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
  .wrapper-navbarPC {
    width: 465px;
    overflow: hidden;
    ul {
      width: 900px;
      transition: margin ease 0.4s;
    }
  }

  .header__navbar__item.menu-list-pc {
    position: relative;
  }

  .visible-PC {
    overflow: visible !important;
  }
}
