@import "src/GlobalStyle/Variables.scss";

.tippy-history div[data-tippy-root] {
  right: 15px !important;
  top: -9px !important;
}

.tippy-history div[data-tippy-root] .tippy-box {
  max-width: 100% !important;
}

.tippy-toolip div[data-tippy-root] {
  border-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 0.5px solid $color-text-dark;
  background-color: $color-text-primary;
}

.tippy-toolip div[data-tippy-root] .tippy-content {
  border-radius: 0;
}

body .toolip-order.tippy-toolip div[data-tippy-root] {
  top: -8px !important;
}
