@import "src/GlobalStyle/Variables.scss";

.input-search {
  background-color: $color-text-primary;
  border: 1px solid $color-primary;
  border-radius: $br-rad-md;
  margin-top: 10px;
  input {
    border: none;
    outline: none;
    flex: 1;
    font-size: $font-sm;
    padding: 11px 8px;
    border-top-left-radius: $br-rad-md;
    border-bottom-left-radius: $br-rad-md;
  }
  .icon {
    color: $color-text-dark;
    padding: 0 8px;
    cursor: pointer;
    transition: color ease 0.2s;
    &:hover {
      color: $color-primary;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .hidden-on-PC {
    div[data-tippy-root] {
      display: none !important;
    }
  }
}
