@import "src/GlobalStyle/Variables.scss";

.main__container {
  margin-top: 26px;
}

.cart-list-product,
.cart-pay,
.cart-total {
  background-color: $bg-primary-blur;
  border: 1px solid $color-primary;
  .header {
    border-bottom: 1px solid $color-primary;
  }
}

.product__item {
  border-bottom: 1px solid $color-primary;
}

.line-space {
  border: 1px solid $color-primary;
}

.cart-total__content {
  background-color: $bg-primary-blur;
  color: $color-text-primary;
  margin-bottom: 0;
}

.ship-expense {
  border: none;
  color: $color-emphasize;
}

.total {
  color: $color-primary;
  font-size: $font-lg;
  font-weight: 600;
}

.btn {
  width: 100%;
  height: 40px;
  font-size: $font-lg;
  font-weight: 500;
}

.inf {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.product-name {
  font-size: $font-xl;
  font-weight: 600;
  margin-bottom: 16px;
  @extend %limited-line-1;
}

.price-product {
  color: $color-primary;
  font-size: $font-md;
  font-weight: 500;
}

.quanlity {
  padding-bottom: 12px;
  display: flex;
  justify-content: start;
  & > div {
    width: 100%;
  }
  .quanlity-main {
    width: 400px;
  }
}

.bag-empty {
  color: $color-text-desible;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini {
  .body {
    max-height: 35vh;
    overflow-y: auto;
    /* width */
    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $bg-primary-blur;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .bag-empty {
    min-height: 200px;
  }
}

.main.mini {
  .cart-list-product {
    background-color: $color-text-primary;
  }

  .product-name {
    font-size: $font-md;
    font-weight: 400;
    margin-bottom: 0;
    @extend %limited-line-1;
  }

  .price-product {
    color: $color-primary;
    font-size: $font-min;
    font-weight: 500;
  }
}

@media (min-width: $breakpoint-md) {
  .inf {
    flex-direction: column;
    justify-content: start;
  }

  .quanlity {
    justify-content: center;
  }
}
