@import "src/GlobalStyle/Variables.scss";

.navigator {
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 10px;
  background-color: $bg-primary-blur;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.nav__item + .nav__item {
  margin-top: 16px;
}

.navigator__item-wrapper {
  border-radius: $br-rad-xl;
  border: 2px solid $color-primary;
  color: $color-text-primary;
  overflow: hidden;
}

.item__title {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $color-primary;
  padding-left: 16px;
  h3 {
    font-size: $font-md;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.item__body {
  background-color: $bg-primary-blur;
  padding: 10px 15px;
  li a {
    display: inline-block;
    width: 100%;
  }
  h4,
  span {
    font-size: $font-sm;
  }

  .icon {
    cursor: pointer;
    padding-left: 6px;
  }
  .icon-thin {
    padding-right: 6px;
  }
}

//phan rangePrice
.item-price,
.item-smell,
.item-size {
  h4 {
    margin-bottom: 0;
    padding-left: 10px;
  }
}

.filter__item {
  padding-top: 6px;
  padding-bottom: 6px;
}

//lọc tổng hợp
.item-filter-total {
  padding: 6px 6px;
  border-radius: $br-rad-md;
  background-color: $color-primary;
  display: inline-flex;
  margin-top: 6px;
  &:first-child {
    margin-top: 12px;
  }
}

//phan blogs
.item {
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  & + .item {
    border-top: 1px solid $color-text-primary;
  }
  &:hover {
    .item-text {
      color: $color-primary;
    }
  }
}

.item-text {
  transition: ease 0.3s;
  span {
    @extend %limited-line-3;
  }
}

.item__img {
  padding-right: 8px;
  .image {
    aspect-ratio: 3/2;
    border-radius: $br-rad-md;
  }
}

@media (min-width: $breakpoint-lg) {
  .navigator {
    padding-top: 40px;
  }
}
