@import "src/GlobalStyle/Variables.scss";

.header {
  background-color: $color-primary;
}

.icon-sad {
  color: $color-emphasize;
  padding-right: 12px;
}

.title {
  color: $color-emphasize;
  font-weight: 600;
}
