@import "src/GlobalStyle/Variables.scss";

.btn-x {
  width: 40px;
  aspect-ratio: 1;
  &.mini {
    background-color: transparent;
    color: $color-text-desible;
    width: 25px;
    svg {
      width: 15px;
    }
  }
}
