@import "src/GlobalStyle/Variables.scss";

.section-slider {
  max-width: 100%;
  background-color: $bg-primary-blur;
  position: relative;
  transform: translateY(0);
}

.slider__img {
  max-width: 1920px;
  margin: 0 auto;
}

.slider__desc {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: $color-text-primary;

  .desc-wrapper {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
  }
}

.box {
  height: 70px;
}

.desc__title {
  h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    font-size: $font-max;
  }
}

.desc__slogan {
  font-size: $font-md;
  font-weight: 500;
  text-align: center;
  padding-bottom: 12px;
}

.desc__button {
  display: flex;
  justify-content: center;
  .btn {
    width: 120px;
    height: 30px;
    display: grid;
    place-content: center;
    font-size: $font-min;
    cursor: pointer;
    &:hover {
      background-color: $color-button-hover;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .desc__title {
    h1 {
      font-size: $font-pro-max;
    }
  }

  .box {
    height: 120px;
  }

  .desc__slogan {
    font-size: $font-xl;
    padding-bottom: 24px;
  }

  .desc__button {
    .btn {
      width: 180px;
      height: 45px;
      font-size: $font-md;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .section-slider {
    margin-top: -83px;
  }
}
